<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}{% endblock %}

    <title>Mylist {% block extra_title %}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <a href="">Home</a>

            {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
            {% else %}
            <a href="{% url 'account_login' %}">Sign in</a>
            <a href="{% url 'account_signup' %}">Sign up</a>
            {% endif %}
        </nav>
    </header>
    {% block extra_header %}{% endblock %}

    <main>
       {% block content %}{% endblock %}
    </main>

    <footer>

    </footer>

</body>
</html>